{% extends 'core/base.html' %}
{% block content %}

<div class="max-w-3xl mx-auto px-6">

    <h1 class="h1 text-center mb-6">Add New Link</h1>
    <p class="text-base-content text-center mb-10">Create a new link for your profile.</p>

    <div class="bg-base-100 p-8 rounded-2xl shadow hover:shadow-lg transition">

        <form action="{% url 'profiles:add_link' profile.id %}" method="post" class="space-y-6">
            {% csrf_token %}

            <div class="space-y-4">
                {% for field in form %}
                    <div>
                        <label class="block font-medium mb-1" for="{{ field.id_for_label }}">
                            {{ field.label }}
                        </label>

                        {{ field }}

                        {% if field.help_text %}
                            <p class="text-base-content text-sm mt-1">{{ field.help_text }}</p>
                        {% endif %}

                        {% if field.errors %}
                            <p class="text-red-600 text-sm mt-1">{{ field.errors|striptags }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

        <!-- Back and submit buttons -->
        <div class="flex justify-end gap-4 mt-8">
            <a href="{% url 'profiles:profile_detail' profile.id %}"
               class="btn btn-outline">
                Back
            </a>

            <button type="submit"
                    class="btn btn-primary">
                Save Changes
            </button>
        </div>

        </form>
    </div>
</div>

{% endblock %}