{% extends 'core/base.html' %}
{% block content %}

<div class="max-w-3xl mx-auto px-6">

    <h1 class="h1 text-center mb-6">Edit Profile</h1>
    <p class="text-base-content text-center mb-10">Update your information below.</p>

    <div class="bg-base-100 p-8 rounded-2xl shadow hover:shadow-lg transition">

        <form action="{% url 'profiles:edit_profile' profile.id %}" method="post" class="space-y-6" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Django Form Fields -->
            <div class="space-y-4">
                {% for field in form %}
                    <div>
                        <label class="block font-medium mb-1" for="{{ field.id_for_label }}">
                            {{ field.label }}
                        </label>
                        {{ field }}
                        {% if field.errors %}
                            <p class="text-error text-sm mt-1">{{ field.errors|striptags }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            <div id="theme-preview" data-theme="{{ user.profile.theme }}" class="p-6 rounded-xl border mt-4">
                <h2 class="text-xl font-bold">Theme Preview</h2>
                <p class="mt-2">This is what your minipage will look like using the selected theme.</p>

                <div class="btn w-full btn-primary mt-4">Link 1!</div>
                <div class="btn w-full btn-primary mt-4">Link 2!</div>
            </div>

            <!-- Submit Button -->
            <button
                type="submit"
                class="link link-primary link-hover"
            >
                Save Changes
            </button>

        </form>
    </div>
</div>

<script>
document.getElementById("theme-select").addEventListener("change", (e) => {
    document.getElementById("theme-preview").setAttribute("data-theme", e.target.value);
});
</script>

{% endblock %}