{% extends 'core/base.html' %}
{% block content %}
<div class="max-w-3xl mx-auto px-6">

    <!-- Header -->
    <div class="flex items-center gap-6 mb-10">
        {% if profile.avatar %}
        <div class="">
        <img src="{{ profile.avatar.image.url }}" alt="Current avatar" class="w-24 h-24 rounded-full object-cover border" />
        </div>
        {% else %}
        <div class="w-24 h-24 bg-gray-200 rounded-full flex items-center justify-center text-3xl font-semibold text-gray-500">
            {{ profile.profile_name|first|upper }}
        </div>
        {% endif %}
        <div>
            <h1 class="text-3xl font-bold">{{ profile.profile_name }}</h1>
            <p class="text-base-content">@{{ profile.user.username }}</p>
        </div>
    </div>

    <!-- Bio -->
    <div class="bg-base-100 p-6 rounded-2xl shadow mb-8">
        <h2 class="text-xl font-semibold mb-2">Bio</h2>
        <p class="text-base-content">{{ profile.bio|default:"No bio added yet." }}</p>

        <a href="{% url 'profiles:edit_profile' %}"
           class="link link-primary link-hover">
            Edit profile
        </a>
    </div>

    <!-- Links -->
    <div class="bg-base-100 p-6 rounded-2xl shadow mb-8">
        <div class="flex items-center justify-between mb-4">
            <h2 class="text-xl font-semibold">Links</h2>
            <a href="{% url 'profiles:add_link' %}"
               class="link link-primary link-hover">
                Add link +
            </a>
        </div>
        {% include 'profiles/partials/link_list.html' %}
    </div>

<div class="flex flex-col items-center gap-3 mt-10">

    <!-- View Minipage -->
    <a href="{% url 'core:minipage' profile.user.username %}"
       class="link link-primary link-hover">
        View your minipage →
    </a>

    <!-- Back to Dashboard -->
    <a href="{% url 'core:home' %}"
       class="link text-base-content hover:text-base-content/70 link-hover">
        ← Back to Dashboard
    </a>

</div>

</div>
{% endblock %}
