{% extends 'core/base.html' %}
{% block content %}
<div class="p-3 bg-stone-300 mb-1">
<h1 class="h1 text-center">Profile name: {{ profile.profile_name }}</h1>
<p class="text-3xl text-center">Profile bio: {{ profile.bio }}</p>
<p> <a href="{% url 'profiles:edit_profile' profile.id %}" class="link-buttons">Edit Profile</a> </p>
</div>
<div class="p-3 bg-stone-300">
<h1 class="h1 m-3">Your links</h1>
<ul>
    {% for link in links %}
        <li class="m-6"> <span class="text-xl" >{{ link.title }}:</span> <a href="{{ link.url }}" class="link-buttons font-normal">{{ link.url }}</a>
            <a href="{% url 'profiles:edit_link' profile.id link.id %}" class="link-buttons">Edit</a>
            <a href="{% url 'profiles:delete_link' profile.id link.id %}" class="link-buttons">Delete</a> </li>
    {% endfor %}
</ul>
<p> <a href="{% url 'profiles:add_link' profile.id%}" class="link-buttons m-6 border-gray-300 border-solid"> Add link</a> </p>
</div>
{% endblock %}