<tr class="bg-base-300 p-2 mb-1 rounded-2xl transition">
    <td colspan="3">
        {% if form.errors %}
        <div class="bg-error/10 border border-error text-error text-sm p-3 rounded-lg mb-4">
            {% for field in form %}
                {% for error in field.errors %}
                    <p><strong>{{ field.label }}:</strong> {{ error }}</p>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}
        <form
            hx-post="{% url 'profiles:edit_link' link.profile.id link.id %}"
            hx-target="closest tr"
            hx-swap="outerHTML"
            class="flex items-center space-x-3"
        >
            {{ form.title }}
            {{ form.url }}

            <div class="flex justify-end">
            <button class="px-3 py-1 link link-primary link-hover">
                Save
            </button>

            <button
                class="px-3 py-1 text-error hover:text-error/60 hover:underline"
                hx-get="{% url 'profiles:link_row' link.id %}"
                hx-target="closest tr"
                hx-swap="outerHTML"
            >
                Cancel
            </button>
            </div>
        </form>
    </td>
</tr>