{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" {% block html_theme %}data-theme="light"{% endblock %}>
<head>
    <title>Minipage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
</head>

<body class="bg-base-200 text-base-content font-serif leading-normal tracking-normal min-h-screen" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
{% block theme_toggle %}
{% if user.is_authenticated %}
    {% include "core/partials/navbar.html" %}
{% else %}
    {% include "core/partials/navbar_guest.html" %}
{% endif %}
{% endblock %}
    <div class="container mx-auto px-6 pt-20 py-10">
        {% block content %}
        {% endblock %}
    </div>
{% block theme_script %}
<script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.2/Sortable.min.js"></script>
<script>
htmx.onLoad(function(content) {
    content.querySelectorAll(".sortable").forEach(function(sortableEl) {
        let sortable = new Sortable(sortableEl, {
            animation: 150,
            ghostClass: "bg-base-300",

            filter: ".htmx-indicator",
            onMove: function (evt) {
                return !evt.related.classList.contains("htmx-indicator");
            },

            onEnd: function () {
                sortable.option("disabled", true);
            }
        });

        sortableEl.addEventListener("htmx:afterSwap", function () {
            sortable.option("disabled", false);
        });
    });
});

  const toggle = document.getElementById("theme-toggle");
  const savedTheme = localStorage.getItem("theme") || "light";

  document.documentElement.setAttribute("data-theme", savedTheme);
  toggle.checked = savedTheme === "dark";

  toggle.addEventListener("change", () => {
    const theme = toggle.checked ? "dark" : "light";
    document.documentElement.setAttribute("data-theme", theme);
    localStorage.setItem("theme", theme);
  });
</script>
</body>
</html>
