{%extends "core/base.html"%}

{%block content%}

{% if user.is_authenticated %}
<h1> {{user}}'s page!</h1>

<a href="{% url 'profiles:profile_detail' profile_id %}" class="link-button">View your profile</a>
<a href="{% url 'core:minipage' username %}"> View your minipage</a>
<br>

<form action="{% url 'core:logout' %}" method="post" style="display:inline;">
  {% csrf_token %}
  <button type="submit">Logout</button>
</form>

{%else%}
<a href="{% url 'core:login' %}">Login</a> or <a href="{% url 'core:register' %}"> Register..</a>

{%endif%}

{% endblock %}