{% extends 'core/base.html' %}
{% block content %}

<h1 class="text-3xl font-bold text-gray-900 text-center m-3">{{ profile.profile_name }}</h1>
<h4 class="text-2xl font-bold text-gray-900 text-center m-3">{{ profile.bio }}</h4>

<h4 class="text-xl font-bold text-gray-900 text-center m-3">Links!</h4>
<ul>
    {% for link in links %}
    <li>
    <a href="{{ link.url }}" class="link-button" target="_blank">
          {{ link.title }}
        </a>
    </li>
    {% empty %}
      <li class="text-lg font-bold text-gray-900 text-center m-3">No links yet.</li>
    {% endfor %}
</ul>
{% endblock %}