@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default, dark --prefersdark, cupcake, forest, dracula, cyberpunk, synthwave, retro;
 }

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";

.link-button {
    @apply block w-full text-center bg-white shadow-md hover:shadow-lg
           rounded-xl py-3 px-4 font-semibold text-gray-800 hover:bg-gray-100 m-px;
}

.link-buttons{
    @apply text-center bg-white shadow-md hover:shadow-lg
           rounded-xl py-3 px-4 font-semibold text-gray-800 hover:bg-gray-100 m-px;
}
.h1 {
  @apply text-2xl font-bold md:text-4xl;
}

div.htmx-swapping span {
  opacity: 0;
  transition: opacity .5s ease-out;
}