@import "tailwindcss";

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";
.link-button {
    @apply block w-full text-center bg-white shadow-md hover:shadow-lg
           rounded-xl py-3 px-4 font-semibold text-gray-800 hover:bg-gray-100;
}